[submodule "git_modules/circom-ecdsa"]
	path = git_modules/circom-ecdsa
	url = https://github.com/0xPARC/circom-ecdsa.git
[submodule "git_modules/circom-pairing"]
	path = git_modules/circom-pairing
	url = https://github.com/yi-sun/circom-pairing
[submodule "git_modules/keccak256-circom"]
	path = git_modules/keccak256-circom
	url = https://github.com/vocdoni/keccak256-circom
[submodule "git_modules/batch-ecdsa"]
	path = git_modules/batch-ecdsa
	url = https://github.com/puma314/batch-ecdsa
[submodule "git_modules/ed25519-circom"]
	path = git_modules/ed25519-circom
	url = https://github.com/Electron-Labs/ed25519-circom
